@charset "UTF-8";
/*закончила в 3:33:06*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /*чтобы высота была равна 100%*/
}

html, body {
  height: 100%;
}

.wrapper {
  /*Высота на всю страницу надо в html,body написать height: 100% */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  /*Для второй страницы*/
}

.header {
  background-color: #151515;
  /*Для главной страницы*/
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  padding: 40px 0 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: white;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  /*присоединяет значение соседу*/
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.footer__copy {
  max-width: 806px;
  margin: 0 auto 30px;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}

.top {
  color: white;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 60px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.top__link {
  background-color: #151515;
  padding: 23px;
  /*статичная ширина кнопки*/
  max-width: 430px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.title {
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.swiper::after {
  content: '';
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
  margin: 0 15px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: white;
}

.why-lease {
  padding: 150px 0;
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-lease__item-img {
  margin-bottom: 30px;
}

.why-lease__item-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.why-lease__item-text {
  text-align: left;
}

.how-does {
  padding-bottom: 150px;
}

.how-does__inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does__title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}

.how-does__list {
  padding: 50px 0 70px;
  counter-reset: myCounter;
}

.how-does__item {
  list-style: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}

.how-does__item + .how-does__item {
  margin-top: 40px;
}

.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066FF;
  font-size: 48px;
  font-weight: 700;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  left: 0;
  top: 0;
}

.video {
  padding-bottom: 150px;
}

.video__title {
  margin-bottom: 20px;
}

.video__text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.video__content {
  margin: 0 auto;
  display: block;
}

.important {
  padding-bottom: 150px;
}

.important__title {
  margin-bottom: 20px;
}

.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.important__item-img {
  margin-bottom: 20px;
}

.contacts {
  padding: 100px 0 150px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 100px;
}

.form {
  max-width: 580px;
  margin: 0 auto;
}
