@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /*чтобы высота была равна 100%*/
}

html, body {
  height: 100%;
}

.wrapper {
  /*Высота на всю страницу надо в html,body написать height: 100% */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  /*Для второй страницы*/
}

.header {
  background-color: #151515;
  /*Для главной страницы*/
}

.header-main {
  background-color: transparent;
}

.header__inner {
  padding: 40px 0 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: white;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  /*присоединяет значение соседу*/
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.footer__copy {
  max-width: 806px;
  margin: 0 auto 30px;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}
